@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
  font-family: "Poppins", sans-serif;
}

:root {
  --color: #0d6efd;
  --color-active: #003686
}

/* White Screen */
.white-screen{
  position: fixed;
  top: 0;
  left: 0;
  background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5));
  z-index: 100;
}
/* White Screen */

/* Navbar */
.navbar-brand img {
  height: 35px;
}

/* Navbar */


/* Alerts */

.alerts{
  position: fixed;
  z-index: 1100;
  bottom: 10%;
  left: 50%;
  transform: translateX(-50%);
}

.alerts .alert{
  height: auto;
  min-height: 45px;
  width: auto;
  display: grid;
  place-content: center;
}

/* Alerts */

/* Home  */
/* Carousel */
.carousel-indicators li {
  height: 20px !important;
  width: 20px !important;
  border-radius: 50%;
  list-style: none;
}

#display .carousel-inner .carousel-item {
  position: relative;
  height: 500px;
  width: 100%;
}

#display .carousel-inner .carousel-item::before,
#display .carousel-inner .carousel-item::after {
  position: absolute !important;
  height: 100%;
  width: 100%;
}

/* Display 1 */
#display .carousel-inner .carousel-item:nth-child(1)::before,
#display .carousel-inner .carousel-item:nth-child(3)::before,
#display .carousel-inner .carousel-item:nth-child(5)::before {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  padding-bottom: 3rem;
  font-size: 3rem;
  color: white;
}

#display .carousel-inner .carousel-item:nth-child(1)::before {
  content: 'Denim Jackets';
  background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.3)), url('./Img/display/img1.jpg');
  background-size: 100% 100%;
  z-index: -1;
}

/* Display 1 */
/* Display 2 */
#display .carousel-inner .carousel-item:nth-child(2)::before {
  background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.3)), url('./Img/display/img2.jpg');
  background-size: 100% 100%;
  content: 'Get The Best Accessories For Men';
  z-index: -1;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-right: 4rem;
  padding-bottom: 5.5rem;
  font-size: 2rem;
  color: white;
}

#display .carousel-inner .carousel-item:nth-child(2)::after {
  content: 'Starting From ₹299';
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 3.35rem;
  color: rgb(173, 173, 173);
  font-size: 2rem;
}

/* Display 2 */
/* Display 3 */
#display .carousel-inner .carousel-item:nth-child(3)::before {
  background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5)), url('./Img/display/img3.jpg');
  background-size: 100% 100%;
  content: 'Causal Tees';
  z-index: -1;
}

/* Display 3 */
/* Display 4 */
#display .carousel-inner .carousel-item:nth-child(4)::before {
  background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5)), url('./Img/display/img4.jpg');
  background-size: 100% 100%;
  content: 'Get The Best Offer';
  display: flex;
  justify-content: center;
  align-items: flex-end;
  padding-bottom: 9.5rem;
  padding-right: 10rem;
  color: white;
  font-size: 1.85rem;
}

#display .carousel-inner .carousel-item:nth-child(4)::after {
  content: 'Over 50% Off On All The Products';
  display: flex;
  justify-content: center;
  align-items: flex-end;
  padding-bottom: 6.5rem;
  padding-right: 10rem;
  font-size: 1.85rem;
}

/* #display .carousel-inner .carousel-item:nth-child(4)::after{} */
/* Display 4 */
/* Display 5 */

#display .carousel-inner .carousel-item:nth-child(5)::before {
  background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.3)), url('./Img/display/img5.jpg');
  background-size: 100% 100%;
  content: 'Best Collections';
  padding-bottom: 5.25rem;
}

#display .carousel-inner .carousel-item:nth-child(5)::after {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  content: 'Festival Offers and Gifts';
  color: rgb(56, 56, 56);
  font-size: 1.75rem;
  padding-bottom: 3.25rem;
}

/* Display 5 */
/* Display */
/* Side Display  */

#sideDisplay .carousel-inner .carousel-item {
  height: 500px;
  width: 100%;
  position: relative;
}

#sideDisplay .carousel-inner .carousel-item:before {
  position: absolute;
  height: 100%;
  width: 100%;
  content: '';
  z-index: -1;
}

/* Sidedisplay1  */
#sideDisplay .carousel-inner .carousel-item:nth-child(1):before {
  background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.3)), url('./Img/display/pic1.webp');
  background-size: 100% 100%;
}

/* Sidedisplay2 */
#sideDisplay .carousel-inner .carousel-item:nth-child(2):before {
  background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.3)), url('./Img/display/pic2.webp');
  background-size: 100% 100%;
}

/* Sidedisplay3 */
#sideDisplay .carousel-inner .carousel-item:nth-child(3):before {
  background: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.7)), url('./Img/display/pic3.jpg');
  background-size: 100% 100%;
}

/* Display  */
/* Side Display  */

#display .carousel-control-next-icon,
#display .carousel-control-prev-icon {
  height: 3rem;
  width: 3rem;
}

/* Carousel  */
/* Category  */

.category h1 {
  font-size: 1.75rem;
}

a {
  text-decoration: none;
}

.category {
  text-decoration: none;
  color: black;
}

.category-item h3 {
  font-size: 1.4rem;
}


.side-div button.arrow-right {
  position: absolute;
  right: -10%;
  bottom: 10%;
}

.side-div button.arrow-right {
  height: 85px;
  width: 85px;
  background-color: white;
  display: grid;
  place-content: center;
  font-size: 3rem;
  border-radius: 50%;
  transition: 0.5s all ease;
  cursor: pointer;
  border: none;
  outline: none;
}

.category-div:hover button.arrow-right {
  right: 2.5%;
}

/* 
.category:hover .arrow-right{
  right: 50px;
} */

.category .category-item:hover img {
  box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .15) !important;
}

button.arrow-right:hover {
  background-color: var(--color) !important;
  color: white !important;
}

/* Category  */
/* Home */

/* Collection  */

/* Filter Pop */

.pop-up-container {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100%;
  width: 100%;
  z-index: 100;
  display: grid;
  place-content: center;
}

.pop-up-container::before {
  position: absolute;
  height: 100%;
  width: 100%;
  content: '';
  background-color: rgba(0, 0, 0, 0.3);
  z-index: -1;
}


.pop-up-container .pop-up {
  height: 175px;
  width: 300px;
  text-align: center;
  position: relative;
}

.pop-up-container .pop-up::before {
  position: absolute;
  height: 100%;
  width: 50%;
  left: 0;
  top: 0;
  content: '';
  background-color: black;
  z-index: -1;
}

.pop-up-container .pop-up::after {
  position: absolute;
  height: 100%;
  width: 50%;
  left: 50%;
  top: 0;
  content: '';
  background-color: white;
  z-index: -1;
}

.pop-up .pop-up-div-1 {
  height: 35%;
  width: 100%;
  display: grid;
  place-content: center;
}

.pop-up-div-1 span.first {
  color: white;
}

.pop-up-div-1 span.second {
  color: black;
}

.pop-up .pop-up-div-2 {
  height: 35%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  font-size: 1.25rem;
  letter-spacing: 2px;
  word-spacing: 2px;
}

.pop-up-div-2 span.first {
  color: white;
}

.pop-up-div-2 span.second {
  color: black;
}

.pop-up-div-2 input[type="number"]{
  outline: none;
  border: none;
  appearance: none;
  font-size: 1.25rem;
  border: 1px solid black;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button{
  display: none;
}

.pop-up .pop-up-div-3 {
  height: 30%;
  width: 100%;
  color: rgb(170, 170, 170);
}

.pop-up-div-3 button {
  cursor: pointer;
  height: 75%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  outline: none;
  background: none;
  color: rgb(121, 121, 121);
}

.pop-up-div-3 button:nth-child(1) {
  border-right: 1px solid black;
}

/* Filter Pop */

/* Toast  */

.toast {
  width: 20%;
}

/* Toast  */
/* Btns  */
.collections button.btn-category {
  border: none;
  outline: none;
  background-color: white;
  border: 1px solid var(--color);
  height: 35px;
  color: var(--color);
  transition: 0.3s all ease;
}

.collections button.btn-category:hover,
.collections button.btn-category.active {
  background-color: var(--color);
  color: white;
}

/* Btns  */

/* Filter  */
.collections button.filter-btn {
  height: 70px;
  width: 70px;
  background-color: white;
  display: grid;
  place-content: center;
  font-size: 3rem;
  border-radius: 50%;
  transition: 0.5s all ease;
  cursor: pointer;
  border: none;
  outline: none;
}

.collections button.filter-btn {
  position: fixed;
  bottom: 10%;
  right: 2%
}

.collections button.filter-btn:hover {
  background-color: var(--color);
  color: white;
}

/* Filter  */

/* Item  */
.item img {
  height: 250px;
  width: 100%;
}

.item .item-div-1 p {
  font-size: 0.9rem;
}

.item .item-div-1 p svg {
  margin-bottom: 0.15rem;
}


/* .item .item-div-1 p:nth-child(2){
  text-decoration: line-through;
} */
.item .item-div-2 {
  color: black;
}

.item .item-div-2 h5 {
  font-size: 1.1rem;
}

.item .item-div-3 button.wishlist {
  border: none;
  outline: none;
  margin: auto;
  background: none;
  color: var(--color);
}

.item .item-div-3 button.cart {
  height: 38px;
  width: 83%;
  border: none;
  outline: none;
  color: white;
  background-color: var(--color);
  transition: 0.3s all ease;
}

.item button.cart:active {
  background-color: var(--color-active);
}

/* Item  */
/* Collection  */

/* Product  */
.product-div {
  height: auto;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.product-div h3 {
  font-size: 1.55rem;
  margin-bottom: 0.75rem;
}

.product-content-div-2 button.cart {
  border: none;
  outline: none;
  background-color: var(--color);
  height: 40px;
  color: white;
  transition: 0.3s all ease;
}

.product-content-div-2 button.cart:active {
  background-color: var(--color-active);
}

.product-content-div-2 button.wishlist {
  height: 40px;
  border: none;
  outline: none;
  border: 1px solid var(--color);
  color: var(--color);
  background: none;
  transition: 0.3s all ease;
}

.product-content-div-2 button.wishlist:hover {
  background-color: var(--color);
  color: white;
}

.product-info-div-2 .size {
  height: 50px;
  width: 50px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
  display: grid;
  place-content: center;
  border-radius: 50%;
  font-size: 1.25rem;
  cursor: pointer;
  transition: 0.3s all ease;
  margin: 0;
}

.product-info-div-2 .size:hover,
.product-info-div-2 .size.active {
  background-color: var(--color);
  color: white;
}

.product-info-div-4 button.check-cities {
  height: 38px;
  border: 1px solid var(--color);
  outline: none;
  background: none;
  color: var(--color);
  transition: 0.3s all ease;
}

.product-info-div-4 button.check-cities:hover {
  background: var(--color);
  color: white;
}

/* Product  */

/* Wishlist */
.wishlist-container {
  height: auto;
  min-height: calc(100svh - 61px);
  width: 100%;
  display: grid;
  place-content: center;
  text-align: center;
}

.wishlist-container .btn-redirect {
  height: 38px;
  background-color: white;
  border: 1px solid var(--color);
  color: var(--color);
  transition: 0.3s all ease;
  display: flex;
  justify-content: center;
  align-items: center;
}

.wishlist-container .btn-redirect:hover {
  background-color: var(--color);
  color: white;
}

/* Wishlist  */

/* Cart */
/* Cart Head  */
.cart-left-div .cart-heading button.enter-address {
  height: 40px;
  background: none;
  outline: none;
  border: 1px solid var(--color);
  color: var(--color);
  transition: 0.3s all ease;
}

.cart-left-div .cart-heading button.enter-address:hover {
  background: var(--color);
  color: white;
}

/* Cart Head  */

/* Cart Item */
.cart-item .cart-item-info .cart-select {
  height: 30px;
  padding: 0;
  display: flex;
  align-items: center;
  background-color: rgb(216, 216, 216);
}

.cart-item .cart-item-info .cart-select select {
  width: 43px;
  border: none;
  outline: none;
  background: rgb(226, 226, 226);
  cursor: pointer;
  padding: 0;
}

.cart-item .cart-item-info .event p {
  cursor: pointer;
}

/* Cart Item  */

/* Address  */
.modal .modal-content {
  border-radius: 0;
}

.modal .modal-body input {
  border-radius: 0;
}

.modal .modal-footer button.btn-modal-submit {
  height: 35px;
  background-color: var(--color);
  color: white;
  outline: none;
  transition: 0.3s all ease;
  border: none;
  outline: none;
}

.modal-footer button.btn-modal-submit:active {
  background-color: var(--color-active);
}

/* Address  */

/* Cart Container  */
.cart-container {
  height: 70vh;
  width: 100%;
  display: grid;
  place-content: center;
  text-align: center;
}

.cart-container .btn-redirect {
  height: 38px;
  background-color: white;
  border: 1px solid var(--color);
  color: var(--color);
  transition: 0.3s all ease;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn-redirect:hover {
  background-color: var(--color);
  color: white;
}

/* Cart Container  */

/* Promo Code  */
.cart-right-div .promo-code-div button.code-btn {
  height: 35px;
  background-color: white;
  color: var(--color);
  border: 1px solid var(--color);
  outline: none;
  transition: 0.3s all ease;
}

.cart-right-div .promo-code-div button.code-btn:hover {
  background-color: var(--color);
  color: white;
}

/* Promo Code  */

/* Order Sum */
.order-sum-div button.place-order {
  height: 38px;
  background-color: var(--color);
  color: white;
  transition: 0.3s all ease;
  border: none;
  outline: none;
}

.order-sum-div button.place-order:active {
  background-color: var(--color-active);
  color: white;
}

/* Order Sum */
/* Cart  */

@media only screen and (max-width: 450px) {

  /* Alert */

  .alerts .alert{
    width: auto;
    min-width: auto
  }
  
  /* Alert */


  /* Navbar  */

  .navbar-brand img {
    height: 33px;
    width: 95%;
  }

  .right-nav {
    position: absolute;
    right: 0;
  }

  /* Navbar  */
  /* Carousel  */
  #display .carousel-inner .carousel-item {
    height: 275px;
  }

  /* Display */

  #display .carousel-inner .carousel-item:nth-child(1)::before,
  #display .carousel-inner .carousel-item:nth-child(3)::before,
  #display .carousel-inner .carousel-item:nth-child(5)::before {
    font-size: 2rem;
    padding-bottom: 3rem;
  }

  /* Display 2  */
  #display .carousel-inner .carousel-item:nth-child(2)::before {
    padding: 0;
    font-size: 1rem;
    padding-bottom: 1.5rem;
  }

  #display .carousel-inner .carousel-item:nth-child(2)::after {
    font-size: 1rem;
    padding-top: 1.5rem;
    padding-left: 2rem;
  }

  /* Display 2  */
  #display .carousel-inner .carousel-item:nth-child(4)::before {
    padding: 0;
    font-size: 1.5rem;
    padding-bottom: 4.5rem;
    padding-right: 3rem;
  }

  #display .carousel-inner .carousel-item:nth-child(4)::after {
    padding: 0;
    font-size: 1rem;
    padding-bottom: 3.15rem;
  }

  /* Display 5  */
  #display .carousel-inner .carousel-item:nth-child(5)::before {
    padding-bottom: 4rem;
  }

  #display .carousel-inner .carousel-item:nth-child(5)::after {
    padding-bottom: 2.65rem;
    font-size: 1.2rem;
    color: rgb(56, 56, 56);
  }

  /* Display 5  */
  #display .carousel-control-prev-icon,
  #display .carousel-control-next-icon {
    height: 2rem;
    width: 2rem;
  }

  /* Display */

  /* SideDisplay  */

  #display .carousel-inner .carousel-item {
    height: 225px;
  }

  #sideDisplay .carousel-inner .carousel-item {
    height: 400px;
  }

  #sideDisplay h2 {
    font-size: 2rem;
  }

  /* SideDisplay  */
  /* Carousel  */

  /* Category  */
  .category h1 {
    font-size: 1.6rem
  }

  .category-item h3 {
    font-size: 1.3rem;
  }

  .side-div button.arrow-right {
    right: -40%;
    bottom: 5%;
  }

  .category-div:hover button.arrow-right {
    right: 5%;
  }

  .collections button.filter-btn {
    height: 60px;
    width: 60px;
  }

  /* Category  */

  /* Collection */

  .toast {
    width: 70%;
  }

  .collections button.btn-category {
    height: 30px;
    font-size: 0.85rem;
  }

  /* Filter */

  .collections button.filter-btn {
    right: 3%
  }

  /* Filter */

  /* Item  */

  .item img {
    height: 170px;
    width: 100%;
  }

  .item .item-div-1 p {
    font-size: 0.65rem;
  }

  .item .item-div-1 p svg {
    font-size: 1rem;
  }

  .item .item-div-2 h5 {
    font-size: 0.8rem;
  }

  .item .item-div-3 button.wishlist svg {
    font-size: 1.85rem !important;
  }

  .item .item-div-3 button.cart {
    width: 80%;
    height: 33px;
    font-size: 0.85rem;
  }

  .item .item-div-3
  /* Item  */
  /* Collection */

  /* Product  */
  .product-div h3 {
    font-size: 1.5rem;
    margin-bottom: 0.75rem;
  }

  .product-content-div-1 h4,
  .product-content-div-1 .d-flex p {
    font-size: 1.2rem !important;
  }

  /* Product  */


  /* Cart  */

  .cart-item .cart-item-info h4.title {
    font-size: 1.15rem;
  }

  .cart-item .cart-item-info p.desc {
    font-size: 0.7rem;
  }

  .cart-item .cart-item-info .event p {
    font-size: 0.65rem;
  }

  .event p svg {
    font-size: 0.9rem;
  }

  .cart-item .cart-item-info .cart-select {
    height: 23px;
    font-size: 0.65rem;
    padding: 0 0.25rem;
    display: flex;
    align-items: center;
    background-color: rgb(216, 216, 216);
  }

  .cart-item .cart-item-info .cart-select select{
    width: auto;
  }

  .cart-item-info h3 .price {
    font-size: 1rem;
  }

  .cart-container {
    height: 50vh;
  }

  /* Cart  */

  /* Pop Up  */
  .pop-up-container .pop-up{
    width: 85vw;
  }
  .pop-up .pop-up-div-2{
    width: 85%;
    margin: auto;
  }

  .pop-up-div-2 input[type="number"]{
    width: 100%;
  }
}